# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    #csrf_protection: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    #session:
    #    handler_id: null
    #    cookie_secure: auto
    #    cookie_samesite: lax
    #    storage_factory_id: session.storage.factory.native

    php_errors:
        log: "%kernel.debug%"

twig:
    globals:
        APP_NAME: "%env(APP_NAME)%"
        APP_DEFAULT_URI: "%env(APP_DEFAULT_URI)%"

# TEST
when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
