/**
 * Animate CSS
 */
:root {
  --animate-duration: 170ms;
}

/**
 * Outline Input for Google Material Design
 */
.q-field--outlined {
  .q-field__label {
    background: #FFF;
    padding: 0 3px;
    z-index: 2;
  }

  &.q-field--float .q-field__label {
    transform: translateY(-130%) scale(.85) !important;
  }

  &.q-field--labeled .q-field__native {
    padding-top: 10px;
    padding-left: 3px;
  }

  &.q-textarea.q-field--labeled .q-field__control-container {
    padding-top: 10px;
  }

  // Dense
  &.q-field--dense {
    &.q-field--float .q-field__label {
      transform: translateY(-85%) scale(.8) !important;
    }

    &.q-field--labeled .q-field__native {
      padding-top: 4px;
      font-size: 14px;
    }
  }
}

body.body--dark {
  .q-field--outlined {
    .q-field__label {
      background-color: var(--q-dark);
    }
  }
}


/*
 * Divider
 */
.divider {
  position: relative;
  display: inline-flex;
  background: $grey-4;
  width: 2px;
  height: 2rem;
  border-radius: $generic-border-radius;
  margin: 0 $flex-gutter-md;
}

body.body--dark {
  .divider {
    background: $grey-6;
  }
}

/**
 * Append Dark Background
 */
.bg-dark-page {
  background: $dark-page !important;
}

/**
 * Transparent Color
 */
.bg-dark-transparent-1 {background-color: rgba(0,0,0,0.1);}
.bg-dark-transparent-2 {background-color: rgba(0,0,0,0.2);}
.bg-dark-transparent-3 {background-color: rgba(0,0,0,0.3);}
.bg-dark-transparent-4 {background-color: rgba(0,0,0,0.4);}
.bg-dark-transparent-5 {background-color: rgba(0,0,0,0.5);}
.bg-dark-transparent-6 {background-color: rgba(0,0,0,0.6);}
.bg-dark-transparent-7 {background-color: rgba(0,0,0,0.7);}
.bg-dark-transparent-8 {background-color: rgba(0,0,0,0.8);}
.bg-dark-transparent-9 {background-color: rgba(0,0,0,0.9);}


/**
 * Q-Item
 */
.q-item{
  min-height: 40px;
  padding: 8px 16px;
}

/**
 * Notify Close Btn
 */
.notify-close-btn{
  position: absolute;
  left: calc(100% - 1px);
  bottom: calc(100% - 8px);
  transform: scale(0.95);
}
.q-notifications__list--top{
  top: 10px;
}
.q-notification{
  margin: 14px 10px 0;
}
