/**
 * Animate CSS
 */
:root {
  --animate-duration: .1s;
}

.q-notification__caption {
  opacity: 0.85;
}

.on-left {
  margin-right: 10px;
}
.q-item__section--side {
  padding-right: 12px;
  color: currentColor !important;

  & > .q-icon {
    font-size: $button-font-size + 8;
  }
}

.full-w {
  width: 100%;
}

.q-pt-smh {
  padding-top: 12px;
}

.q-pb-smh {
  padding-bottom: 12px;
}

.q-toolbar__title {
  font-size: 16px;
  font-weight: 500;
}

/**
 * Q-BTN
 */
.q-btn {
  .q-icon + span {
    //line-height: 0;
    //padding-top: 1px;
  }
}
/**
 * SM Button
 */

/**
 * Q-Input
 */
.q-field__control,
.q-field__marginal {
  height: 44px;
}

.q-field__marginal {
  color: $input-marjinal-color;
}

.q-field__label {
  top: 12px;
}

.q-field--with-bottom {
  min-height: 60px;
  padding-bottom: 0;
}

.q-field__bottom--animated {
  position: relative;
  transform: translateY(0%);
}

.q-field__bottom {
  padding: 0 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  min-height: auto;
}

.q-field--dense .q-field__before,
.q-field--dense .q-field__prepend {
  padding-right: 8px;
}
.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}

/**
 * Q-Item
 */
.q-item {
  min-height: 40px;
  padding: 8px 12px;
}

.q-tab {
  min-height: 44px;
  border-radius: $generic-border-radius;
}

.body.desktop .q-checkbox--dense:not(.disabled):focus .q-checkbox__inner:before,
body.desktop .q-checkbox--dense:not(.disabled):hover .q-checkbox__inner:before {
  transform: scale3d(1.8, 1.8, 1);
}

.q-item__section--avatar {
  min-width: 34px;
}

.q-field__focusable-action {
  font-size: 20px;
}

/**
 * Outline Input
 */
.q-field--outlined {
  &.q-field--auto-height.q-field--labeled .q-field__control-container {
    padding-top: 0;
  }

  .q-field__label {
    background: #fff;
    z-index: 2;
    padding: 0 4px;
    margin-left: -4px;
  }

  &.q-field--float .q-field__label {
    transform: translateY(-100%) scale(0.85) !important;
  }

  .q-field__control:before {
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  .q-field__control:hover:before {
    border-color: rgba(0, 0, 0, 0.5);
  }

  &.q-field--labeled .q-field__native {
    padding-top: 10px;
  }

  &.q-textarea.q-field--labeled .q-field__control-container {
    padding-top: 10px;
  }

  // Dense
  &.q-field--dense {
    &.q-field--float .q-field__label {
      transform: translateY(-85%) scale(0.8) !important;
    }

    &.q-field--labeled .q-field__native {
      padding-top: 4px;
      font-size: $button-font-size;
    }
  }

  // Dark
  &.q-field--dark {
    .q-field__control:before {
      border-color: rgba(255, 255, 255, 0.25);
    }

    .q-field__control:hover:before {
      border-color: rgba(255, 255, 255, 0.75);
    }

    .q-field__label {
      background-color: var(--q-dark);
    }
  }
}

.borderless {
  .q-field--outlined {
    .q-field__label {
      background-color: $body-color;
    }

    &.q-field--dark {
      .q-field__label {
        background-color: var(--q-dark-page);
      }
    }
  }
}

/**
 * Filled - Input
 */
.q-field--filled {
  .q-field__control,
  .q-field__marginal {
    height: 50px;
  }

  .q-field__label {
    top: 15px;
  }

  .q-field__control {
    border-radius: $generic-border-radius;

    &:before {
      display: none;
    }
  }

  .q-field__control:after {
    border: 2px solid transparent;
    height: 100%;
    border-radius: $generic-border-radius;
    background: transparent;
    transform: scale3d(1, 1, 1);
  }

  &:hover .q-field__control:after {
    transition: 0.2s all;
    border-color: rgba(0, 0, 0, 0.1);
  }

  &.q-field--highlighted .q-field__control:after {
    border-color: currentColor;
  }

  &.q-field--float .q-field__label {
    transform: translateY(-40%) scale(0.8) !important;
  }

  &.q-field--dark {
    .q-field__control {
      background: var(--q-dark-page);
    }

    &:hover:not(.q-field--highlighted) .q-field__control:after {
      border-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.borderless {
  .q-field--filled {
    &.q-field--dark {
      .q-field__control {
        background: var(--q-dark);
      }
    }
  }
}

/**
 * Select
 */
.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native {
  min-height: 44px;
}

.q-select {
  .q-chip {
    margin: 4px 4px 0px 0;

    &.q-chip--dense {
      padding: 2px 8px;
      min-height: 22px;

      .q-chip__icon {
        font-size: 1.34em;
      }
    }
  }
}

// Q-Menu
.q-menu {
  backdrop-filter: blur(50px);
  padding: 6px 0;

  .q-item {
    min-height: 36px;
    padding: 6px 8px;
    margin: 0 6px;
    border-radius: $generic-border-radius;

    display: flex;
    align-items: center;
  }
}

/**
 * Dropdown
 */
.disable-icon {
  .q-btn-dropdown__arrow,
  .q-select__dropdown-icon {
    display: none;
  }
}

.q-menu:not(.q-menu--dark) {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.transparent-dropdown {
  background: transparent !important;
  backdrop-filter: none;
}

/**
 * Pagination
 */
.q-pagination__content > .q-btn,
.q-pagination__content > .q-input,
.q-pagination__middle > .q-btn {
  min-width: 30px !important;
}

/*
 * Divider
 */
.divider {
  position: relative;
  display: inline-flex;
  background: $grey-4;
  width: 2px;
  height: 2rem;
  border-radius: $generic-border-radius;
  margin: 0 $flex-gutter-md;
}

body.body--dark {
  .divider {
    background: $grey-6;
  }
}

/**
 * Q-Card
 */
.q-card__actions{
  padding: 6.5px 8px;
  & > .q-btn ,
  & > div > .q-btn {
    font-size: 13px;
  }
}

/**
 * Table
 */
.q-table th,
.q-table td {
  padding: 5px 10px;
}

.q-table thead tr,
.q-table tbody td {
  height: 44px;
}

.q-table__card .q-table__middle {
  flex: 0 1 auto;
}

.q-table__container {
  background: transparent;
  box-shadow: none;

  .q-linear-progress__track--dark {
    background: transparent;
  }
}

.q-table th.sorted .q-table__sort-icon,
.q-table__sort-icon--right {
  vertical-align: text-top;
  margin-top: -1px;
}

.q-table__bottom {
  min-height: 44px;
  padding-top: 4px;
  padding-bottom: calc(env(safe-area-inset-bottom) / 2 + 4px);
  border-bottom: 1px solid $table-border-color;

  &.q-table__bottom--nodata {
    border-top: none;
  }
}

.table-loading {
  position: absolute;
  z-index: 3;
  top: 42px;

  &.headed {
    top: 102px;
  }
}

.q-table {
  .q-table__progress .q-linear-progress {
    background: var(--q-primary);
  }
}

.q-table th {
  font-size: $button-font-size - 1;
  border-top: 1px solid $table-border-color;
}

.q-table__bottom--nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

// Color
.q-table thead,
.q-table th,
.q-table__bottom {
  background: #e5e6e7;
}

// Dark
.q-table--dark .q-table__bottom,
.q-table--dark thead,
.q-table--dark tr,
.q-table--dark th,
.q-table--dark td {
  border-color: rgba(255, 255, 255, 0.05);
}

.q-table--dark thead,
.q-table--dark th,
.q-table--dark .q-table__bottom {
  background: $dark;
}

.q-table--dark tbody,
.q-table--dark td {
  background: $dark-page;
}

// Sticky Header
.table-sticky {
  height: calc(100vh - 46px - env(safe-area-inset-top));

  thead tr th {
    position: sticky;
    z-index: 2 !important;
  }

  thead tr:first-child th {
    top: 0;
  }
}

.tabbed + .page-content .table-sticky {
  height: calc(100vh - 46px - 36px);
}

// Sticky Column
.sticky-action {
  max-width: 100%;

  td.actions-column {
    background-color: $body-color;
    padding: 5px;
  }

  &.q-table--dark {
    td.actions-column {
      background-color: $dark-page;
    }
  }

  td.actions-column {
    position: sticky;
    left: 0;
    z-index: 1;
  }
}

.sticky-first {
  max-width: 100%;

  th:first-of-type {
    position: sticky;
    left: 0;
    z-index: 3 !important;
  }
  td:first-of-type {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  &:not(.q-table--dark) {
    td:first-of-type {
      background-color: $body-color;
    }
  }
}

.custom-bottom {
  position: sticky;
  bottom: 0;
  z-index: 2;

  td {
    border-top: 1px solid $table-border-color;
  }
}

/**
 * Append Dark Background
 */
.bg-dark-page {
  background: $dark-page !important;
}

/**
 * Transparent Color
 */
.bg-dark-transparent-1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-dark-transparent-2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-dark-transparent-3 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-dark-transparent-4 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-dark-transparent-5 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-dark-transparent-6 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-dark-transparent-7 {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-dark-transparent-8 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-dark-transparent-9 {
  background-color: rgba(0, 0, 0, 0.9);
}

.dark-shadow-1 {
  box-shadow: 0 0 2px 0 rgb(0, 0, 0, 0.25);
}

.shadow-1 {
  box-shadow: 0 0 2px 0 rgb(0, 0, 0, 0.25);
}

/**
 * Notify Close Btn
 */
.notify-close-btn {
  position: absolute;
  top: 0;
  font-size: $button-font-size - 1 !important;
  left: 100%;
  transform: translateX(65%);

  .q-icon {
    font-weight: bold;
  }
}

.q-notifications__list--top {
  top: 10px;
}

/**
 * GAP
 */
.gap-x-sm {
  column-gap: map-get($space-sm, 'x');
}
.gap-y-sm {
  row-gap: map-get($space-sm, 'y');
}
.gap-x-md {
  column-gap: map-get($space-md, 'x');
}
.gap-y-md {
  row-gap: map-get($space-md, 'y');
}

/**
 * Popup Dropdown
 */
.popup-dropdown {
  .q-dialog__inner {
    & > div {
      background: #FFF;
      padding: map_get($space-sm, 'y') map_get($space-sm, 'x');
    }
    .q-item{
      border-radius: $button-border-radius;
    }
  }
}

.body--dark {
  .popup-dropdown {
    .q-dialog__inner {
      & > div {
        background: $dark;
      }
    }
  }
}
