// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import 'quasar/src/css/variables';

// Theme Color
$primary: #1976d2;
$secondary: #6c757d;
$accent: #9c27b0;
$dark: #2b3035;
$dark-page: #212529;
$positive: #21ba45;
$negative: #c10015;
$info: #42a0ed;
$warning: #f2c73a;
$body-color: #fff;
$input-text-color: rgba(0, 0, 0, 0.8);
$input-label-color: rgba(0, 0, 0, 0.6);
$input-marjinal-color: rgba(0, 0, 0, 0.6);

// Theme Size
$input-font-size: 14px;
$button-font-size: 14px;
$tooltip-fontsize: 13px;
$button-padding: 7px 16px;

$separator-color: rgba(0, 0, 0, 0.12);
$separator-dark-color: rgba(255, 255, 255, 0.12);
$menu-box-shadow-dark:
  0 2px 10px rgb(0, 0, 0, 0.2),
  0 2px 2px rgb(0, 0, 0, 0.14),
  0 3px 1px -2px rgb(0, 0, 0, 0.22);
$layout-shadow: 0 1px 5px 0px rgb(0 0 0 / 20%);
$layout-shadow-dark: 0 0 5px 2px rgb(0 0 0 / 10%);
$generic-border-radius: 4px;
$button-border-radius: 4px;
$button-shadow: $shadow-1;
$button-shadow-active: $shadow-3;
$toolbar-min-height: 46px;
$table-box-shadow: $shadow-1;
$table-box-shadow-dark: $dark-shadow-0;
$animate-duration: 0.1s;
$animate-delay: 0.1s;
