<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/api/src/Admin/Core/Test" />
        <option value="$PROJECT_DIR$/api/src/Admin/Notification/Test" />
        <option value="$PROJECT_DIR$/api/package/Library/Test" />
        <option value="$PROJECT_DIR$/api/package/ApiBundle/Test" />
        <option value="$PROJECT_DIR$/api/package/MediaBundle/Test" />
        <option value="$PROJECT_DIR$/api/package/SwooleBundle/Test" />
        <option value="$PROJECT_DIR$/api/package/StorageBundle/Test" />
      </list>
    </option>
  </component>
</project>