###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/*
!/var/cache/.gitkeep
!/var/log/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> Custom ###
.DS_store
###< Custom ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###