/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/*/*
!/var/cache/.gitkeep
!/var/log/.gitkeep
/vendor/
.DS_store
.phpunit.result.cache
/phpunit.xml
###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###
