###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.server.*.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> Custom ###
.DS_store
storage/files
###< Custom ###
