parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    doctrine:
        ormRepositoryClass: Package\ApiBundle\Repository\ApiServiceEntityRepository
    paths:
        - src
        - package
    ignoreErrors:
        - '#While loop condition is always true.#'
    excludePaths:
        - 'package/ApiBundle/Thor/Template/*'

includes:
    - bin/tool/vendor/phpstan/phpstan-symfony/extension.neon
    - bin/tool/vendor/phpstan/phpstan-symfony/rules.neon
    - bin/tool/vendor/phpstan/phpstan-doctrine/extension.neon