parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - package
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
        - '#While loop condition is always true.#'

includes:
    - bin/tool/vendor/phpstan/phpstan-symfony/extension.neon
    - bin/tool/vendor/phpstan/phpstan-symfony/rules.neon