<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheResultFile="var/cache/.phpunit.result.cache" colors="true" testdox="true" verbose="true"
         bootstrap="tests/bootstrap.php">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />

        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_SECRET" value="f3ca4e95684cbae9f79891651296816e" force="true"/>
        <server name="APP_STORAGE" value="local" force="true"/>
        <server name="APP_JWT_SECRET" value="JH12G3JH21312J3G1H2312J3G" force="true"/>
        <server name="APP_JWT_TOKEN_EXP" value="3600" force="true"/>
        <server name="APP_JWT_REFRESH_TOKEN_EXP" value="30" force="true"/>
        <server name="LOCK_DSN" value="semaphore"/>
        <server name="MAILER_DSN" value="null://null" force="true"/>
        <server name="FIREBASE_DSN" value="null://null" force="true"/>
    </php>

    <testsuites>
        <testsuite name="App Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/*/*/Enum</directory>
        </exclude>
    </coverage>

    <extensions>
        <extension class="App\Tests\Setup\PhpunitExtension"/>
    </extensions>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
