<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
         colors="true"
         testdox="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="var/cache/.phpunit.cache">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="APP_LOG_FILE" value=""/>
        <server name="APP_LOG_LEVEL" value="error"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>

        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_STORAGE" value="local" force="true"/>
        <server name="LOCK_DSN" value="semaphore"/>
        <server name="MAILER_DSN" value="null://null" force="true"/>
        <server name="FIREBASE_DSN" value="null://null" force="true"/>
    </php>

    <testsuites>
        <testsuite name="App Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreSuppressionOfDeprecations="true"
            ignoreIndirectDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true"
    >
        <include>
            <directory>src</directory>
        </include>

        <deprecationTrigger>
            <function>trigger_deprecation</function>
        </deprecationTrigger>
    </source>

    <extensions>
        <bootstrap class="Zenstruck\Foundry\PHPUnit\FoundryExtension" />
        <bootstrap class="App\Tests\Setup\PhpunitExtension"/>
    </extensions>
</phpunit>
