<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheResultFile="var/cache/.phpunit.result.cache"
         colors="true"
         testdox="true"
         bootstrap="config/test-bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_SECRET" value="f3ca4e95684cbae9f79891651296816e" force="true"/>
        <server name="APP_LOG_LEVEL" value="warning" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>

        <!--App ENV-->
        <env name="APP_STORAGE" value="local"/>
        <env name="APP_LOG_STDIN" value="1"/>

        <!--Storage Bundle Test-->
        <server name="BACKBLAZE_ACCESS_KEY" value="00489aac55fc62a0000000003"/>
        <server name="BACKBLAZE_SECRET" value="K004c+Raz+dT1jImNH38TrmBg1Uwz6M"/>
    </php>

    <testsuites>
        <!--App Test-->
        <testsuite name="App Test Suite">
            <directory>src/*/Test</directory>
        </testsuite>

        <!--Package Test-->
        <testsuite name="Package Test Suite">
            <directory>package/*/Test</directory>
            <!--<exclude>package/StorageBundle/Test</exclude>-->
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
