name: App Tester
on:
  push:
    branches-ignore: [ production ]
    paths: [ 'api/**' ]

env:
  php-version: '8.2'
  php-extensions: imagick, openswoole, :xdebug
  key: php-cache

jobs:
  phpunit:
    # Configuration
    name: App Test
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./api

    # Services
    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3

    # Steps
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Install PHP
      - name: Setup Cache PHP Extensions
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ env.php-version }}
          extensions: ${{ env.php-extensions }}
          key: ${{ env.key }}
      - name: Cache PHP Extensions
        uses: actions/cache@v2
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.php-version }}
          extensions: ${{ env.php-extensions }}
          ini-values: sys_temp_dir=${{ runner.temp }}
        env:
          OPENSWOOLE_CONFIGURE_SUFFIX_OPTS: "--enable-openssl"
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      # Run Tests
      - name: Install Quality Tools
        run: composer qa:install
      - name: Install App Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: PHPStan
        run: composer qa:phpstan
      - name: PHPCS Fixer
        run: composer qa:lint
      - name: Execute PHPUnit
        run: composer test:stop
        env:
          DATABASE_URL: postgresql://postgres:postgres@127.0.0.1:${{ job.services.postgres.ports[5432] }}/postgres?serverVersion=14